header {
  width: calc(100% - var(--sidebar-width));
  position: absolute;
  left: var(--sidebar-width);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 2;
  padding: 0.5% 2%;
}

h1 {
  font-size: 4em;
  font-style: normal;
  font-weight: 500;
  font-variation-settings: 
  "slnt" 0,
  "wdth" 100,
  "GRAD" 100, 
  "ROND" 75;
  margin: 0;
}

header > h1 {
  cursor: pointer;
}

.italic-r {
  font-variation-settings: 
  "slnt" -5,
  "wdth" 100,
  "GRAD" 500, 
  "ROND" 75;
}
.italicr-r {
  font-variation-settings: 
  "slnt" -10,
  "wdth" 100,
  "GRAD" 500, 
  "ROND" 75;
}

.italic-r:hover, .italicr-r:hover {
  transform: rotate(10deg);
}

header > h1 > div {
  transform-origin: bottom;
  display: inline-block;
  transition: transform 1s var(--spring-easing);
  letter-spacing: 10%;
}

header > h1 > div:hover {
  transform: rotate(10deg);
}

.filter-area {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1%;
  box-sizing: border-box;
  height: fit-content;
}