
.text-icon-button {
  width:  max-content;
  box-sizing: border-box;
  padding: 0.5% 2%;
  font-size: 1.25em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  background-color: white;
  border-radius: calc(var(--border-radius) / 2);
  border: 2px solid black;
  height: max-content;
}