
.text-icon-button {
  width:  max-content;
  box-sizing: border-box;
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: var(--surface-color);
  color: var(--text-primary);
  border-radius: calc(var(--border-radius) / 2);
  border: 3px solid var(--border-color);
  height: max-content;
}

@media (max-width: 768px) {
  .text-icon-button {
    padding: 0;
    border: var(--border-width) solid var(--border-color);
    font-size: 1.5em;
  }

  .text-icon-button .filter-badge {
    top: -4px;
    right: -4px;
    font-size: 0.6em;
  }
}